# General
.DS_Store
.idea/
.vscode/
*.log
scratch/
**/scratch/

# Backend (ynov_events)
ynov_events/.env
ynov_events/.env.*
ynov_events/vendor/
ynov_events/node_modules/
ynov_events/public/storage
ynov_events/public/build
ynov_events/public/hot
ynov_events/storage/*.key
ynov_events/storage/framework/cache/data/*
ynov_events/storage/framework/sessions/*
ynov_events/storage/framework/testing/*
ynov_events/storage/framework/views/*.php
ynov_events/.phpunit.result.cache

# Frontend (ynov_events_frontend)
ynov_events_frontend/node_modules/
ynov_events_frontend/dist/
ynov_events_frontend/dist-ssr/
ynov_events_frontend/.env
ynov_events_frontend/.env.*
ynov_events_frontend/*.local
