# General
.DS_Store
.idea/
.vscode/
*.log
node_modules/
.env

# Backend (ynov_events)
ynov_events/backup_laravel/
ynov_events/node_modules/
ynov_events/dist/
ynov_events/prisma/dev.db
ynov_events/prisma/dev.db-journal

# Frontend (yevents)
yevents/node_modules/
yevents/dist/
yevents/dist-ssr/
yevents/.env
yevents/.env.*
yevents/*.local
