.git
.env
.env.example
.phpunit.result.cache
/node_modules
/vendor
/public/build
/storage/*.key
/storage/framework/cache/data/*
/storage/framework/sessions/*
/storage/framework/testing/*
/storage/framework/views/*.php
/storage/logs/*.log
Dockerfile
.dockerignore
# docker-entrypoint.sh removed from ignore

phpunit.xml
tests
README.md
# composer.lock removed from ignore
# package-lock.json removed from ignore
